body {
    margin: 0;
}
.container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}
h1, ul, button {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}
h1 {
    padding-left: 15px;
}
ul, button {
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding: 0 30px;
    margin: 0;
}
li {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.buttons {
    text-align: center;
}
button {
    margin: 10px 20px;
}
button:hover {
    width: 100px;
    height: 27px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}